body {
  background: #4b5563;
}

#counter {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

.score-container {
  border: 3px solid black;
  padding: 10px 40px 40px 40px;
  background: #f43f5e;
}

.num-score {
  text-align: center;
  font-size: 30px;
  color: #f94f6d;
  background: #111827;
  padding: 15px 10px;
}

.teams {
  color: #ffff;
  text-align: center;
}

.btn-num {
  padding: 10px;
  border: 2.5px solid #080001;
  border-radius: 5px;
  background: none;
}

.btn-num:hover {
  cursor: pointer;
}

.btn-reset {
  color: #ffff;
  padding: 15px 20px;
  border: 3px solid #080001;
  border-radius: 5px;
  background: #2d3748;
  transition: background-color 0.3s ease;
}

.btn-reset:hover {
  background: rgba(55, 65, 81, 0.4);
}

.font-cursed {
  font-family: "Cursed Timer ULiL", sans-serif;
}

#reset-container {
  display: flex;
  justify-content: center;
  gap: 140px;
  margin-top: 20px;
}

#reset-all-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#btn-new-game {
  padding: 15px 20px;
  border: 3px solid #080001;
  border-radius: 5px;
  color: #ffff;
  font-weight: bold;
  font-size: 16px;
  background: #0f9f73; /* darker green */
  transition: background-color 0.3s ease;
}

#btn-new-game:hover {
  background: rgba(15, 159, 115, 0.6);
}
